<ion-view view-title="Form">
    <ion-content>
        <div class="container">
            <div class="list">
                <div ng-repeat="fi in fields">
                    <div class="item item-divider">
                        {{fi.title}}
                    </div>
                    <label class="item item-input" ng-repeat="f in fi.fields">
                        <span class="input-label">{{f.label}}</span>
                        <input type="text" ng-model="form[f.name]" placeholder="{{f.placeholder}}" ng-disabled="isEdit" ng-if="f.type === 'text'">
                        <ion-radio ng-model="form[f.name]" name="{{f.name}}" value="{{f.value}}" ng-if="f.type === 'radio'" ng-disabled="isEdit">{{f.value}}</ion-radio>
                    </label>
                </div>
                <div class="item item-divider">Foto</div>
                <label class="item" ng-if="!isEdit">
                    <center>
                        <button class="button button-assertive" ng-click="getPhoto()"><i class="icon ion-camera"></i></button>
                    </center>
                </label>
                <label class="item" ng-if="form.photo">
                    <center>
                        <img ng-src="{{form.photo}}" style="max-width: 50%">
                    </center>
                </label>
                <label class="item" ng-if="!isEdit">
                    <button class="button button-block button-positive" ng-click="save()">Simpan</button>
                </label>
            </div>
        </div>
    </ion-content>
</ion-view>
